@model IEnumerable<Application.Models.TripModels.TripModel>

@{
    ViewData["Title"] = "Trips";
}

<h1>Trips</h1>

<p>
    <a class="create-button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>@using (Html.BeginForm("TripDetail", "Trip", new { tripId = item.Id }))
                {
                    <input type="submit" value="Details" class="btn btn-primary" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
