@model IEnumerable<Application.Models.LocationModels.LocationModel>

<h2>Submitted locations</h2>

<br />

@using (Html.BeginForm("ShowSubmittedLocations", "Admin"))
{
    <p>
        Filter by name: @Html.TextBox("searchName")
        Filter by type: <select name="searchType">
                            <option value="">- All -</option>
                            <option value="0">Cave</option>
                            <option value="1">Lake</option>
                            <option value="2">River</option>
                            <option value="3">Mountain</option>
                            <option value="4">Waterfall</option>
                            <option value="5">Forest</option>
                            <option value="6">NationalPark</option>
                            <option value="7">Other</option>
                            <option value="8">BuildingStructure</option>
                            <option value="9">Accommodation</option>
                        </select>
        <input type="submit" class="btn btn-primary" value="Search" />
    </p>
}

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Type)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Long)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitCount)
                </td>
                <td>
                    @using (Html.BeginForm("AcceptSubmission", "Admin", new { id = item.Id }))
                    {
                        <input type="submit" value="Accept" class="btn btn-primary" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
