@model Application.Models.UserModels.UserModel

@{
    ViewData["Title"] = "Profile";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MailAddress)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.MailAddress)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Challenges)
        </dt>
        <ol type="1">
            @{
                @Model.Challenges.Count()
                foreach (var c in Model.Challenges)
                {
                    <li class="challenge-info">
                        @c.StartDate
                    </li>
                }
            }
        </ol>
    </dl>
</div>